body {
  margin: 0;
  padding: 0;
}

.main-cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: start;
}

.main-cart-container h2 {
  grid-column: span 2;
  margin: 1rem;
}

.cart-items-left-container {
  min-width: 800px;
  min-height: 40px;
  background-color: #2f3439;
  justify-content: left;
  margin: 1rem;
  background: linear-gradient(135deg, #1b2838d4 0%, #2a475e50 100%);
  border-radius: 8px;
}

.cart-right-container {
  min-width: 400px;
  min-height: 138px;
  background-color: #2f3439;
  justify-content: right;
  background: linear-gradient(135deg, #1b2838d4 0%, #2a475e50 100%);
  border-radius: 8px;
}

.cart-right-container .confirm-pur-btn {
  background-color: #66c0f4;
  color: #1b2838;
  padding: 8px 80px 8px 80px;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 10px;
}

.cart-item img {
  width: 180px;
  height: 150px;
  padding: 4px;
}

.item-info {
  display: flex;
}

.add-btn {
  margin: auto;
  color: white;
  background: linear-gradient(135deg, #1b2838d4 0%, #2a475e50 100%);
}

.remove-btn {
  margin: auto;
  color: white;
  background: linear-gradient(135deg, #1b2838d4 0%, #2a475e50 100%);
}

.qty-input {
  margin: auto;
  max-width: 20px;
}
