body {
  margin: 0;
  padding: 0;
}

.main-cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: start;
}

.main-cart-container h2 {
  grid-column: span 2;
  margin: 1rem;
}

.cart-btn {
  background-color: #4d9ff2;
  color: white;
  justify-content: end;
  position: fixed;
  top: 70px;
  right: 10px;
}

.cart-items-left-container {
  min-width: 800px;
  min-height: 138px;
  background-color: #2f3439;
  justify-content: left;
  margin: 1rem;
  /* opacity: 50%; */
}

.cart-right-container {
  min-width: 400px;
  min-height: 168px;
  background-color: #2f3439;
  justify-content: right;
  margin-top: 1rem;
}

.cart-right-container .payment-form-btn {
  background-color: #4d9ff2;
  color: white;
  padding: 8px 80px 8px 80px;
  margin-top: 20px;
}
